---
---

// Resets and Universal Classes ================================================
html, body {margin:0px; padding:0px; width:100%; min-height:100%;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
div, input, textarea {box-sizing:border-box;}
.clear {clear:both;}

// Breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
    @if $point == m { @media screen and (max-width: 920px)  {@content;} }
    @if $point == s { @media screen and (max-width: 760px)  {@content;} }
    @else if $point == xs { @media screen and (max-width:375px) {@content;} }
}

// Site Styles
body {
    background:#6d879e; color:white;
    font-family:'Roboto', sans-serif; line-height:1.5; font-weight:400; font-size:18px;
    @include breakpoint(s) {font-size:16px;}
}
h1, h2, h3 {margin-top:30px; font-weight:700;
    @include breakpoint(s) {margin-top:25px;}}
h1 {font-size:38px;
    @include breakpoint(s) {font-size:32px;}}
h2 {font-size:28px;}
h3 {font-size:24px;}

// Components
.container {
    position:relative; width:100%; height:100%; padding:40px 30px;
    @include breakpoint(s) {padding:30px 25px;}
}
.content {
    max-width:840px; margin:0px auto;
    img {max-width:100%; max-height:400px; margin:20px 0px; border:2px solid white;}
    img.center {margin:20px auto;}
    img.large {display:block; width:600px; max-height:none;}
    img.half {display:inline-block; vertical-align:top; width:48%; margin-right:1%;}
    a {border-bottom:1px solid white;}
    h1:first-of-type {margin-bottom:-20px;}
}

