---
---

// Resets and Universal Classes ================================================
html, body {margin:0px; padding:0px; width:100%; min-height:100%;}
h1, h2, h3, h4, h5, h6 {margin:0px;}
img {max-width:100%; border:0px;}
a {text-decoration:none; color:inherit;}
div, input, textarea {box-sizing:border-box;}
.clear {clear:both;}

// Breakpoint: reponsive adaptation mixin
@mixin breakpoint($point) {
    @if $point == m { @media screen and (max-width: 920px)  {@content;} }
    @if $point == s { @media screen and (max-width: 760px)  {@content;} }
    @else if $point == xs { @media screen and (max-width:375px) {@content;} }
}

// Site Styles
body {
    background:#222; color:white;
    font-family:'Figtree', sans-serif; line-height:1.5; font-size:18px;
    @include breakpoint(s) {font-size:16px;}
}
h1, h2, h3 {margin-top:30px;}
h1 {font-size:32px;}
h2 {font-size:28px;}
h3 {font-size:24px;}

// Components
.container {position:relative; width:100%; height:100%; padding:30px;}
.content {
    max-width:640px; margin:0px auto; text-align:center;
    img {max-width:100%; margin:20px auto;}
    a {border-bottom:1px solid white;}
}

